<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Billing Information</title>
</head>
<body>
    <h1>Customer Billing Information</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Billing Date</th>
            <th>Amount Due</th>
        </tr>
        {% for customer in customer %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.billing_date }}</td>
            <td>{{ customer.amount_due }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
