<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Report List</title>
</head>
<body>
<h1>Network Report List</h1>
<table border="1">
    <tr>
        <th>SP ID</th>
        <th>Serial Number</th>
        <th>Terminal ID</th>
        <th>Activated</th>
        <th>SID</th>
        <th>PSN</th>
        <th>Mode</th>
        <th>Feature Options</th>
        <th>Profile ID</th>
        <th>Profile Name</th>
        <th>Profiles</th>
        <th>IP Service Address</th>
        <th>Field Type</th>
    </tr>
    {% for report in network_reports %}
    <tr>
        <td>{{ report.sp_id }}</td>
        <td>{{ report.serial_number }}</td>
        <td>{{ report.terminal_id }}</td>
        <td>{{ report.activated }}</td>
        <td>{{ report.sid }}</td>
        <td>{{ report.psn }}</td>
        <td>{{ report.mode }}</td>
        <td>{{ report.feature_options }}</td>
        <td>{{ report.profile_id }}</td>
        <td>{{ report.profile_name }}</td>
        <td>{{ report.profiles }}</td>
        <td>{{ report.ip_service_address }}</td>
        <td>{{ report.field_type }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
