{% extends "base_generic.html" %}

{% block title %}CSV 파일 업로드{% endblock %}

{% block content %}
<h2>CSV 파일 업로드</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="csv_file" multiple required>  <!-- multiple 속성 추가 -->
    <button type="submit">업로드</button>
</form>
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h3>업로드된 파일 목록</h3>
<table>
    <thead>
    <tr>
        <th>파일 이름</th>
        <th>업로드 날짜</th>
    </tr>
    </thead>
    <tbody>
    {% for file in uploaded_files %}
    <tr>
        <td>{{ file.file_name }}</td>
        <td>{{ file.upload_date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">업로드된 파일이 없습니다.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
